[Desktop Entry]
Version=1.0
Type=Application
Name=Raven Control Center
GenericName=Tiling Window Manager Config
Comment=Panel de orquestación y topología espacial para el motor Raven en Wayland.
Exec=sh -c "cd $(dirname %k) && ./.venv/bin/python gui/preferences.py"
Icon=org.kde.raven.tiling.svg
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=tiling;raven;kde;plasma;
StartupNotify=true