[Desktop Entry]
Version=1.0
Type=Application
Name=Raven Control Center
GenericName=Gestor de Mosaico (Preferencias)
Comment=Panel de configuración nativo para el motor de tiling Raven en Wayland.
Exec=raven_gui
Icon=org.kde.raven.tiling
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=tiling;raven;kde;plasma;
StartupNotify=true